spring:
  application:
    name: bookshop

  datasource:
    url: jdbc:postgresql://localhost:5432/bookshop
    username: bookshop_user
    password: bookshop_pass

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  logging:
    level:
      org.hibernate.SQL: debug
